@media (max-width: 768px) {
    #side-menu {
        width: 100%;
        /* تأخذ القائمة عرض الشاشة بالكامل */
        right: -100%;
        /* مخفية بالكامل */
    }
    .evaluation-link {
        font-size: 14px;
        /* تصغير حجم الخط للشاشات الصغيرة */
    }
}